### Basic  Python Syntax

In [1]:
print("Hello Brother")

Hello Brother

##### Back Slash
   - Back slash is a continuation sign

In [2]:
print("Hello \
       Brother")

Hello        Brother

##### Triple Quotes
  - it can be used to print the block or doc string

In [3]:
print("""  First, solve the problem. Then, write the code.   """)

  First, solve the problem. Then, write the code.

In [4]:
print("Python's Program")      # String inside the quote

Python's Program

In [5]:
print('Python\'s Program')     # \' escape character

Python's Program

In [6]:
print("Hello\tBrother")       # \t tab escape sequence

Hello	Brother

In [7]:
print("Hello\nBrother")       # \n new line character

Hello
Brother

In [8]:
print("Hello\aBrother")       # \a for bell sound

HelloBrother

##### Formatted Output

- multiple statements in print syntax

In [9]:
Name= "Merry"
Marks= "91.55"
Age= "22"

In [10]:
print("The Name of person is",Name,",her Marks are", Marks,"& her Age is", Age)

The Name of person is Merry ,her Marks are 91.55 & her Age is 22

In [11]:
print(f"The Name of person is {Name}, her Marks are {Marks} & her Age is {Age}")

The Name of person is Merry, her Marks are 91.55 & her Age is 22

In [12]:
print("The Name of person is %s,her Marks are %f & her Age is %d"%(Name,Marks,Age))

### Python Variable & assignment statements

- Simply variable is like a container where you can put/store your value or data.
- it links the data to the name.
- Variable refers to the memory location that contains the data
- when we assign multiple variables and in case they have same data, they both will point to the same address.
- Rules to define variable:
	- a keyword can't be used as variable( if , def, passâ€¦etc)
    - Variables can contain letters, numbers, underscore
    - Variables are case sensitive

In [13]:
a = b = c = 10

In [14]:
id(a)

140726772146864

In [15]:
id(b)

140726772146864

In [16]:
id(c)

140726772146864

 Note: The address isn't based on variable name,it is based on the value itself.

### Python Operators

#### Arithmatic Operators(+, -, *, /, //, %, **)

In [77]:
 # Addition
print(20+10)

#Subtraction
print(30-20)

#Multiplication
print(10*5)

#Division
print(10/6)

#Floor division(Q)
print(10//6)

#Modulus(R)
print(10%6)

#Power
print(2**5)

30
10
50
1.6666666666666667
1
4
32

#### Comparison operators

In [78]:
x = 10
y = 5
z = 15
t = 10

In [79]:
print(x == y)
print(x == t)

False
True

In [80]:
print( y < t)
print( x > t)
print( z > x)

True
False
True

In [81]:
print( x <= z)
print( x >= t)

True
True

In [82]:
t != z

True

#### Assignment operators

In [83]:
k = 30
p = 12

In [84]:
p = k   # k is assigned to p
print(p)

30

In [85]:
k += p   # k=k+p
print(k)

60

In [86]:
k -= p   # k=k-p
print(k)

30

In [87]:
k *=p    # k=k*p 
print(k)

900

In [88]:
k /=p    # k=k/p ....k= 900 now
print(k)

30.0

#### Bitwise Operator

- OR operation (|)
- AND operation (&)
- XOR operation (^)
- One's Compliment (~)
- Binary Left Shift (<<)
- Binary Right Shift (>>)

In [89]:
s = 12
r = 13

In [90]:
s & r

12

In [91]:
s | r

13

In [92]:
s ^ r

1

In [93]:
s << r      # gaining bits

98304

In [94]:
s >> r      # losing bits

0

#### Logical operaters
 - AND
 - OR
 - NOT

In [95]:
x = 10
y = 5
z = 15
t = 10

In [99]:
x > 15 or z > 10   # atleast one condition must be true

True

In [100]:
y < 6 and t > 8    # both condition must be true

True

In [101]:
10 > 20

False

In [102]:
not 10 > 20     # changing bits

True

In [103]:
not False

True

In [112]:
20 > 10 > 5     #  20>10 and 10>5 both true

True

#### Membership Operators
  - in
  - not in

In [104]:
place = "Hyderabad"

In [105]:
"y" in place

True

In [106]:
"l" not in place

True

In [107]:
"t" in place

False

#### Identity operators
  - is
  - is not

In [109]:
a = 258
b = 258
a == b

True

In [110]:
a is b   # different memory location  ( for integer value: range  -5 to 256 )

False